:root {
    --color1: #262D69;
    --color2: #F24A72;
    --color3: #FDAF75;
    --color4: #EAEA7F;
    --color5: #FFFFFF;
    --color6: #181c1d;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color6);
}

.body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
}


/*------------HEADER------------*/
.header {
    width: 100%;
    background-color: var(--color1);
    position: fixed;
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-size: .9rem;
    color: #fff;
    z-index: 10;
    justify-content: space-between;
}

.header__logo {
    height: 3rem;
    margin: .5rem 2rem;
}

.header__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header__item {
    margin-inline-end: 2rem;
}

.header__link {
    text-decoration: none;
    cursor: pointer;
    position: relative;
    color: var(--color5);
}

.header__link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--color2);
    bottom: -2px;
    left: 0;
    transition: ease-in-out .2s;
}

.header__link:hover::before{
    width: 100%;
}

/*------------MAIN------------*/
.main {
    width: 60rem;
    min-height: 100vh;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: var(--color6);
}

.main__title {
    margin: 4rem 0 3rem;
    padding: 2rem 0;
    color: var(--color5);
    display: flex;
    justify-content: center;
    font-size: 2rem;
    background-color: var(--color6);
    text-align: center;
    font-family: "Montserrat";
    font-weight: 400;
    position: relative;
}

.main__section {
    width: 100%;
    font-family: "Alegreya Sans";
    box-sizing: border-box;
    padding: 0 3rem;
    margin: 0 0 3rem 0;
    text-align: justify;
}

/*------------FOOTER------------*/
.footer {
    width: 100vw;
    height: min(30vh, 10rem);
    background-color: var(--color6);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 6rem;
}

.footer__creditos {
    color: var(--color5);
    font-family: "Alegreya Sans";
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 0;
}

@media (max-width: 1200px) {
    .main__section, .footer {
        padding: 0 1rem;
    }

    .header__list {
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(20vh, 10rem) 2rem;
        background: var(--color6);
    }

    .header__item {
        line-height: 3rem;
    }
}